{% extends 'base.html' %}

{% block title %}Galerie - Cafe Or Meriem{% endblock %}

{% block content %}

<section class="page-header">

    <h1>Notre Galerie</h1>

    <p>
        Decouvrez l'ambiance du Cafe Or Meriem.
    </p>

</section>


<section class="gallery">

    <div class="gallery-item">
        <img src="/static/images/cafe1.jpg" alt="Cafe">
        <h3>Notre cafe</h3>
    </div>

    <div class="gallery-item">
        <img src="/static/images/cafe2.jpg" alt="Café crème">
        <h3>Notre Café crème</h3>
    </div>

    <div class="gallery-item">
        <img src="/static/images/gateau_chocolot.jpg" alt="Gateau">
        <h3>Notre patisseries</h3>
    </div>

    <div class="gallery-item">
        <img src="/static/images/the.jpg" alt="The">
        <h3>Notre thes</h3>
    </div>

    <div class="gallery-item">
        <img src="/static/images/jus.jpg" alt="Jus">
        <h3>Notre Jus</h3>
    </div>
    <div class="gallery-item">
        <img src="/static/images/croissant.jpg" alt="Croissant">
        <h3>Notre Croissant et pain au chocolat</h3>
    </div>
    <div class="gallery-item">
        <img src="/static/images/gateau-d-anniversaire.jpg" alt="Gateau">
        <h3>Notre Gateau-d-anniversaire</h3>
    </div>
    <div class="gallery-item">
        <img src="/static/images/thé_marocain.jpg" alt="Thé">
        <h3>Notre Thé marocain</h3>
    </div>


</section>

{% endblock %}